@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 61% 95%;
    --foreground: 212 5% 10%;
    --card: 212 50% 90%;
    --card-foreground: 212 5% 15%;
    --popover: 212 61% 95%;
    --popover-foreground: 212 95% 10%;
    --primary: 212 50% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 174 30% 85%;
    --muted-foreground: 212 5% 35%;
    --accent: 174 30% 80%;
    --accent-foreground: 212 5% 15%;
    --destructive: 0 61% 30%;
    --destructive-foreground: 212 5% 90%;
    --border: 212 30% 50%;
    --input: 212 30% 18%;
    --ring: 212 50% 45%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 212 50% 10%;
    --foreground: 212 5% 90%;
    --card: 212 50% 10%;
    --card-foreground: 212 5% 90%;
    --popover: 212 50% 5%;
    --popover-foreground: 212 5% 90%;
    --primary: 212 50% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 174 30% 18%;
    --muted-foreground: 212 5% 60%;
    --accent: 174 30% 18%;
    --accent-foreground: 212 5% 90%;
    --destructive: 0 61% 30%;
    --destructive-foreground: 212 5% 90%;
    --border: 212 30% 18%;
    --input: 212 30% 18%;
    --ring: 212 50% 45%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  #root {
    @apply grid grid-cols-1 grid-rows-[auto_1fr] min-h-screen;
  }
  body {
    @apply bg-background text-foreground;
  }
}
