@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 8% 95%;
    --foreground: 240 8% 5%;

    --card: 240 8% 95%;
    --card-foreground: 240 8% 5%;

    --popover: 240 8% 95%;
    --popover-foreground: 240 8% 5%;

    --primary: 230 56% 61%;
    --primary-foreground: 180 9% 98%;

    --secondary: 228 11% 91%;
    --secondary-foreground: 240 8% 5%;

    --muted: 240 9% 91%;
    --muted-foreground: 229 9% 45%;

    --accent: 228 11% 91%;
    --accent-foreground: 240 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 230 9% 87%;
    --input: 233 9% 81%;
    --ring: 231 36% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 7% 8%;
    --foreground: 0 9% 98%;

    --card: 0 6% 10%;
    --card-foreground: 0 9% 98%;

    --popover: 0 6% 10%;
    --popover-foreground: 0 9% 98%;

    --primary: 0 56% 61%;
    --primary-foreground: 0 9% 98%;

    --secondary: 0 8% 19%;
    --secondary-foreground: 0 9% 98%;

    --muted: 0 7% 29%;
    --muted-foreground: 0 8% 49%;

    --accent: 0 71% 19%;
    --accent-foreground: 0 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 8% 12%;
    --input: 0 9% 18%;
    --ring: 0 56% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  #root {
    @apply grid grid-cols-1 grid-rows-[auto_1fr] min-h-screen;
  }
  body {
    @apply bg-background text-foreground;
  }
}
